body {
    margin: 0;
    font-family: ALGERIAN, sans-serif;
    background: #f4f7ff;
    text-align: center;
}

header {
    background: #0066ff;
    color: white;
    padding: 40px;
}

section {
    margin: 50px;
    padding: 30px;
    background: white;
}

button {
    background: #0045ff;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 70px;
    cursor: pointer;
}

button:hover {
    background: #003399;
}

footer {
    background: #222;
    color: cyan;
    padding: 5px;
}