#Local Editor Settings
.vscode/
.idea/
#Python Virtual Environments & Caches
.venv/
venv/
__pycache__/
*.pyc
.cursorrules
.dockerignore
Dockerfile
*.txt
Files
game1.py
game2.py
arrange.py
Important.java
FULL STACK DEV
prac.py
query.sql
*.bin
*.csv
